// image mixin template
@mixin background-image(
  $url,
  $width: 24px,  // asign default values
  $height: 24px,
  $position: center center,
  $repeat: no-repeat
) {
  background-image: url($url);
  width: $width;
  height: $height;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin editor-logo {
  @include background-image('../../assets/images/logo.svg', 16.22px, 18.56px);
}
